.card_container{
    margin-top: 5px;
     flex-direction: column;
    background-color: #95dada;
    border:1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing:grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;   display: flex;

}
.card_container:hover{
    transform: scale(1.05);
}